body {
    font-family: helvetica;
}

#header {
    height: 100px;
    width: 100%;

    background-color: #ffe51a;
}

#content {
    height: 200px;
}

.project {
    width: 150px;
    min-height: 50px;

    float: left;

    background-color: green;
    color: white;

    margin: 20px;
    padding:5px;
    text-align: center;

    text-decoration: none;
}

.project:hover, .project.selected {
    text-decoration: none;
    color: white;
    background-color: orange;
}

 .project span {
     font-weight: bold;
     font-size: 1em;
     text-shadow: 2px 1px black;

     line-height: 50px;
 }
