.header {
    border-bottom: 1px solid lightgray;
}

.header h3 {
    padding-bottom: 19px;
}

#content {
    height: 200px;
}

.project {
    width: 150px;
    min-height: 50px;

    float: left;

    margin-right: 20px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;

    text-decoration: none;
}

.project span {
    font-weight: bold;
    font-size: 1em;

    line-height: 50px;
}
