.myButton {
    height: 45px;
    width: 45px;

    line-height: 31px;
}

.myRow .myButton:last-child {
    margin-left: 10px;
}

.wrapper {
    margin: 0 auto;
    padding: 10px;

    width: 300px;
    height: 270px;

    background-color: #f5f5f5;

    border-radius: 4px;
}

.inputs {
    float: left;
}

.actions {
    float: right;
    width: 45px;
}

.actions .myButton:last-child {
    margin-top: 45px;
}

.display {
    height: 50px;
    background-color: #ffffff;
}